# ignore the __pycache__ folder
**/__pycache__

.kdev4/
*.kdev4
*.kate-swp

# deb packaging
ubuntu*/45drives-tools
ubuntu*/45drives-tools.substvars
ubuntu*/45drives-tools.postrm.debhelper
ubuntu*/debhelper-build-stamp
ubuntu*/files
ubuntu*/.debhelper

# docker builds
dist
