Source: 45drives-tools
Section: utils
Priority: optional
Maintainer: Mark Hooper <mhooper@45drives.com>
Build-Depends: debhelper-compat (=12)
Standards-Version: 4.4.1
Homepage: https://github.com/45Drives/tools

Package: 45drives-tools
Architecture: amd64
Depends: ipmitool, jq, smartmontools (>= 7.0 ), dmidecode, python3, pciutils, hdparm
Description: 45Drives server cli tools
