%global debug_package %{nil}
%define _build_id_links none

Name: {{ name }}
Version: {{ version }}
Release: {{ build_number }}%{?dist}
Summary: {{ description }}
License: {{ license }}
URL: {{ git_url }}
Source0: %{name}-%{version}.tar.gz
BuildArch: {{ architecture.rocky }}
Requires: {{ dependencies.rocky_common | join(',') }}

BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-root

Provides:	%{name} = %{version}-%{release}
Conflicts:	%{name}-1.7

%description
{{ title }}
{{ description }}

%prep
%setup -q

%build

%install
make DESTDIR=%{buildroot} TOOLS_VERSION="%{version}-{{ build_number }}" install

%post
systemctl daemon-reload
systemctl enable zfs-scrub.timer
systemctl start zfs-scrub.timer

%preun
if [ $1 == 0 ];then
  systemctl stop zfs-scrub.timer
  systemctl disable zfs-scrub.timer
fi

%postun
if [ $1 == 0 ];then
    rm -rf /opt/45drives/tools
    rm -rf /etc/45drives/server_info
    rm -rf /opt/45drives/dalias
	rm -f /usr/bin/cephfs-dir-stats
	rm -f /usr/bin/dmap
	rm -f /usr/bin/findosd
	rm -f /usr/bin/lsdev
	rm -f /usr/bin/server_identifier
	rm -f /usr/bin/zcreate
  rm -f /usr/bin/wipedev
  rm -f /usr/bin/dalias
    rmdir /etc/45drives --ignore-fail-on-non-empty
    rmdir /opt/45drives --ignore-fail-on-non-empty
    OLD_TOOLS_DIR=/opt/tools
    if [ -d "$OLD_TOOLS_DIR" ]; then
        rm -rf "$OLD_TOOLS_DIR"
    fi
  systemctl daemon-reload
fi

%files
%dir /opt/45drives/tools
%dir /opt/45drives/dalias
%dir /opt/45drives/ubm
%dir /etc/45drives/server_info
%defattr(-,root,root,-)
/etc/45drives/server_info/*
/opt/45drives/tools/*
/opt/45drives/ubm/*
/opt/45drives/dalias/*
/etc/systemd/system/zfs-scrub.timer
/etc/systemd/system/zfs-scrub.service
%{_bindir}/*
/usr/lib/udev/rules.d/*

%changelog
* Fri Dec 19 2025 Jordan Keough <jkeough@45drives.com> 4.0.32-1
- Hotfix - reverses hl4 slot order
* Wed Dec 17 2025 Jordan Keough <jkeough@45drives.com> 4.0.31-1
- Updates dmap with proper HL8 slot order
* Wed Nov 26 2025 Joshua Boudreau <jboudreau@45drives.com> 4.0.30-1
- Fix udev rule issues affecting /etc/vdev_id.conf
* Tue Nov 25 2025 Joshua Boudreau <jboudreau@45drives.com> 4.0.29-1
- Flip SSD port order for ROMED8-2T HL15_BEAST
- Add missing install line for 68-0-custom-aliases.rules UDEV rule
* Mon Nov 24 2025 Joshua Boudreau <jboudreau@45drives.com> 4.0.28-1
- swap phy cable order for 24i HBA BEAST SSDs
* Tue Nov 18 2025 Joshua Boudreau <jboudreau@45drives.com> 4.0.27-1
- custom aliases through looking at parent pcieport device for Proxinator VM2
* Wed Nov 12 2025 Joshua Boudreau <jboudreau@45drives.com> 4.0.26-1
- Add Proxinator VM2 support
- Add vdev aliasing support for native NVMe
* Mon Nov 10 2025 Joshua Boudreau <jboudreau@45drives.com> 4.0.25-1
- Fix HL15 BEAST drive order for SSDs
* Thu Nov 06 2025 Joshua Boudreau <jboudreau@45drives.com> 4.0.24-1
- Fix aliasing for HomeLab-HL15_BEAST with serialization stored in DMI
* Mon Nov 03 2025 Jordan Keough <jkeough@45drives.com> 4.0.23-1
- Fixes missing newline delimiter for ssd mapping in hl15beast_romed8
* Mon Nov 03 2025 Jordan Keough <jkeough@45drives.com> 4.0.22-1
- Fixes dmap issue for HL15_BEAST with ROMED8-2T mobo -> Need to have at least 1
  ssd inserted for this to work reliably
* Fri Oct 03 2025 Jordan Keough <jkeough@45drives.com> 4.0.21-1
- Fixes HL15_BEAST drive mapping with ProArt mobo
* Wed Sep 24 2025 Jordan Keough <jkeough@45drives.com> 4.0.20-1
- Fixes infer_homelab_model func in server_identifer
* Mon Sep 22 2025 Jordan Keough <jkeough@45drives.com> 4.0.19-2
- Forgot to merge some changes
* Mon Sep 22 2025 Jordan Keough <jkeough@45drives.com> 4.0.19-1
- Package adds support for 45Studio and HL15_BEAST chassis
* Fri Sep 05 2025 Jordan Keough <jkeough@45drives.com> 4.0.18-2
- Rebuilding with updated build-packages.yml -> create_release and sync_repo were
  not executed
* Fri Sep 05 2025 Jordan Keough <jkeough@45drives.com> 4.0.18-1
- Adds DestroyinatorF16 and Studio8 support
* Fri Aug 08 2025 Jordan Keough <jkeough@45drives.com> 4.0.17-1
- Updates hba_lspci regex for MS73-HB0 boards to take both potential pci address
  formats reported by lspci (eg. 0000:16:00.0 and 16:00.0)
* Tue Jul 22 2025 Jordan Keough <jkeough@45drives.com> 4.0.16-2
- Updates dmap to properly parse lshw command output
* Tue Jul 15 2025 Joshua Boudreau <jboudreau@45drives.com> 4.0.16-1
- Add Destroyinator F16 support
* Thu Jul 10 2025 Brett Kelly <bkelly@45drives.com> 4.0.16-1
- update pci device paths for mi4 ubm
* Thu Jun 12 2025 Jordan Keough <jkeough@45drives.com> 4.0.15-1
- adds support for ROMED8-2T board to server_identifier
* Tue May 06 2025 Brett Kelly <bkelly@45drives.com> 4.0.11-1
- HL4/8 Updated get_sata_pci_addresses() function as it was not correctly filtering
  for SATA controllers.
* Tue Apr 29 2025 Brett Kelly <bkelly@45drives.com> 4.0.10-1
- added mi4+ME03-CE0 support
* Mon Apr 28 2025 Brett Kelly <bkelly@45drives.com> 4.0.9-1
- added F16 support
* Mon Apr 21 2025 Brett Kelly <bkelly@45drives.com> 4.0.8-1
- Adds support for C8 UBM chassis
* Fri Feb 07 2025 Brett Kelly <bkelly@45drives.com> 4.0.0-1
- jumping to 4.0 as we release for el9 and jammy